<h1>Make a new meetup</h1>
<form action="/new" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="location">Location</label>
        <input type="text" id="location" name="location">
        <br>
        <label for="time">Time</label>
        <input type="text" id="time" name="time">
        <br>
        <label for="date">Date</label>
        <input type="text" id="date" name="date" >
        <br>
        <label for="duration">Duration</label>
        <input type="text" id="duration" name="duration" >
        <br>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" >
        <br>
        <input type="submit">
      </form>
